.account-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.account-form h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.account-form input,
.account-form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

select {
  font-weight: bold;
}

.account-form label {
  font-weight: bold;
}

.account-form button {
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
